in/wsdl/two.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="ComplexService"
                  targetNamespace="http://example.com/complexservice"
                  xmlns:tns="http://example.com/complexservice">


    <!-- Message Definitions -->
    <wsdl:message name="GetDetailsRequest">
        <wsdl:part name="request" element="xsd:GetDetailsRequest"/>
    </wsdl:message>

    <wsdl:message name="GetDetailsResponse">
        <wsdl:part name="response" element="xsd:GetDetailsResponse"/>
    </wsdl:message>

    <!-- Port Type Definitions -->
    <wsdl:portType name="ComplexPortType">
        <wsdl:operation name="GetDetails">
            <wsdl:input message="tns:GetDetailsRequest"/>
            <wsdl:output message="tns:GetDetailsResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <!-- Binding Definitions -->
    <wsdl:binding name="ComplexBinding" type="tns:ComplexPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetDetails">
            <soap:operation soapAction="http://example.com/complexservice/GetDetails"/>
            <wsdl:input>
                <soap:body use="encoded" namespace="http://example.com/complexservice"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded" namespace="http://example.com/complexservice"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <!-- Service Definition -->
    <wsdl:service name="ComplexService">
        <wsdl:port name="ComplexPort" binding="tns:ComplexBinding">
            <soap:address location="http://example.com/complexservice"/>
        </wsdl:port>
    </wsdl:service>

    <!-- Types Element with Multiple Schemas -->
    <wsdl:types>
        <!-- Schema for GetDetailsRequest -->
        <xsd:schema targetNamespace="http://example.com/complexservice">
            <xsd:element name="GetDetailsRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="userId" type="xsd:string"/>
                        <xsd:element name="includeDetails" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="GetDetailsResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="userName" type="xsd:string"/>
                        <xsd:element name="userAge" type="xsd:int"/>
                        <xsd:element name="userLocation" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>

        <!-- Schema for Additional User Data -->
        <xsd:schema targetNamespace="http://example.com/userdata">
            <xsd:element name="UserDetails">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="userId" type="xsd:string"/>
                        <xsd:element name="address" type="xsd:string"/>
                        <xsd:element name="phoneNumber" type="xsd:string"/>
                        <xsd:element name="email" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="UpdateUserRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="userId" type="xsd:string"/>
                        <xsd:element name="newAddress" type="xsd:string"/>
                        <xsd:element name="newPhoneNumber" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>

        <!-- Schema for Nested Complex Data -->
        <xsd:schema targetNamespace="http://example.com/nesteddata">
            <xsd:element name="NestedData">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="outerId" type="xsd:string"/>
                        <xsd:element name="innerData">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="innerId" type="xsd:string"/>
                                    <xsd:element name="innerValue" type="xsd:int"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>

        <!-- Schema with Complex Types and References -->
        <xsd:schema targetNamespace="http://example.com/complextypes" xmlns:tns="http://example.com/complextypes">
            <xsd:complexType name="AddressType">
                <xsd:sequence>
                    <xsd:element name="street" type="xsd:string"/>
                    <xsd:element name="city" type="xsd:string"/>
                    <xsd:element name="postalCode" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="PersonType">
                <xsd:sequence>
                    <xsd:element name="name" type="xsd:string"/>
                    <xsd:element name="age" type="xsd:int"/>
                    <xsd:element name="address" type="tns:AddressType"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:element name="Person" type="tns:PersonType"/>
        </xsd:schema>
    </wsdl:types>

</wsdl:definitions>